* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
	max-width: 100%;
	margin: auto;
}

.Navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 20px;
	background-color: rgb(73, 79, 82);
}
.Navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}
.Navigation li {
	color: white;
	margin: 5px 0;
	width: 100%;
	display: block;
}
.Navigation a {
	text-decoration: none;
	width: 100%;
	display: block;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
	color: #40a4c8;
}

.Page {
	width: 100%;
	/* height: 80vh; */
	border: solid 1px red;
}

.AudioAnalyser {
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (min-width: 500px) {
	.App {
		width: 650px;
		font-size: 1.2rem;
	}

	.Navigation ul {
		width: 70%;
	}

	.Navigation a {
		height: 100%;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
	}

	.Navigation a:hover,
	.Navigation a:active,
	.Navigation a.active {
		border-bottom: 4px solid #40a4c8;
		color: white;
	}

	.Page {
		border: solid 1px blue;
	}
}
